# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\marce\OneDrive\Documents\Personal_Marce\Diseño web\Docs Semana 3\Sesion17CP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
