{% extends 'base.html' %} {% block header %}
<h1>Contáctenos</h1>

{% endblock %} {% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.nombre.label }}<br /> {{ form.nombre(size=30)}}<br />
    </p>
    <p>
        {{ form.correo.label }}<br /> {{ form.correo(size=30) }}<br />
    </p>
    <p>
        {{ form.mensaje.label }}<br /> {{ form.mensaje(size=40)}}<br />
    </p>
    <p>{{ form.enviar() }}</p>
</form>
{% endblock %}