{% extends 'base.html' %} {% block header %}
<h1>Envio de Mensajes</h1>
{% endblock %} {% block content %}
<form method="post" action="{{url_for('send')}}">
    <div>
        <label for="para">Para</label>
        <input name="para" id="para" required />
    </div>

    <div>
        <label for="asunto">Asunto</label>
        <input name="asunto" id="asunto " required />
    </div>

    <div>
        <label for="mensaje">Mensaje</label>
        <textarea name="mensaje" id="mensaje" required></textarea>
    </div>

    <button type="submit" value="Enviar ">Enviar</button>
</form>
{% endblock %}